body {
  font-family: 'Inter', sans-serif;
}

header {
  width: 100%;
  padding: 1.5em;
  height: 2em;
  display: flex;
  align-items: center;
}

header h2 {
  font-weight: 600;
  flex-grow: 1;
}

header h2 a {
  text-decoration: none;
  color: #28352f;
}

header .menu-button {
  width: 2em;
  height: 2em;
  background-color: transparent;
  background-image: url(../images/icons/hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.headline {
  height: calc(100vh - 4em);
  padding: 5em 3em 0 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../images/header-illsutration-mobile.svg);
  background-position: center 1em;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.headline h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #172b4d;
}

.headline span {
  display: block;
  color: #36b37e;
}

.headline p {
  margin-top: 3em;
  line-height: 1.5em;
  text-align: center;
  color: #172b4d;
}

.headline ul {
  width: 100%;
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.headline ul img {
  margin: 0.5em;
}

.recent-work {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recent-work-headline {
  padding: 0 1em;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  color: #172b4d;
}

.recent-work-headline::after {
  display: block;
  margin: 0.5em auto;
  content: "";
  width: 1em;
  height: 0.1em;
  background-color: #36b37e;
  border-radius: 0.25em;
}

.work-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 350px));
  justify-content: center;
  grid-gap: 1em;
  width: 100%;
  padding: 0 1.5em;
}

.work-card {
  width: 100%;
  display: grid;
  grid-template-rows: 55% 45%;
  background-color: #Ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 0.5em;
  overflow: hidden;
}

.work-card img {
  width: 100%;
}

.work-card-info {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background-color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.work-card-info h3 {
  padding: 0 1em;
  font-weight: 600;
  color: #3a4a42;
  text-align: center;
  font-size: 1.5em;
}

.work-card-info ul {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.work-card-info ul li {
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.8em 1em;
  background-color: #ebf0ee;
  color: #3a4a42;
  border-radius: 0.3em;
}

.green-button {
  padding: 0.8em;
  font-weight: medium;
  font-size: 1em;
  color: white;
  text-decoration: none;
  border: none;
  background-color: #36b37F;
  border-radius: 0.2em;
}

.work-card-info .green-button {
  margin: 0.8em auto 2em auto;
  max-width: 8em;
}

.work-card-info .green-button:hover {
  cursor: pointer;
  background-color: #36b37f;
}

.work-card-info .green-button:active {
  background-color: #008552;
}
