body {
  font-family: 'Inter', sans-serif;
}

header {
  width: 100%;
  padding: 1.5em;
  height: 2em;
  display: flex;
  align-items: center;
}

header h2 {
  font-weight: 600;
  flex-grow: 1;
}

header h2 a {
  text-decoration: none;
  color: #28352f;
}

header .menu-button {
  width: 2em;
  height: 2em;
  background-color: transparent;
  background-image: url(../images/icons/hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.headline {
  height: 100vh;
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(../images/header-illsutration-mobile.svg);
  background-position: center 1em;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.headline h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.headline h1:nth-child(1) {
  color: #172b4d;
}

.headline h1:nth-child(2) {
  color: #36b37e;
}

.headline p {
  margin-top: 3em;
  line-height: 1.5em;
  text-align: center;
  color: #172b4d;
}

.headline div {
  width: 100%;
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.headline div img {
  margin: 0.5em;
}
